<!doctype html>
<html lang="fr">
<head>
  <%- include('../partials/head'); %>
  <link rel="stylesheet" href="/static/CSS/clothesInfos.css">
  <link rel="stylesheet" href="/static/CSS/vente-css.css">
  <title>Information</title>
</head>
<body>
  <header>         
    <%- include('../partials/header'); %>
  </header>
  <main>
    <div class = "container">
    <div class="container-left "> 
      <div class = "box">
        <img class = "photo-principale" src="<%=image%>" alt="photo">
        
        </div>
      </div>

      <div class="container-right">
        <h2> Informations sur l'article </h2>
        <div class="box-right">
          
          <div class="box-right-1">
              <p> Marque </p>
              <p> Prix </p>
              <p> Couleur </p>
              <p> Taille </p>
              <p> Genre </p>
              <p> Date d'ajout </p>
              <p> Etat de l'article </p>
              <p> Nom du vendeur </p>
              <p> Localisation </p>
            </div>
            <div class="box-right-2">
              <p> <%= marque %> </p>
              <p> <%= prix %> </p>
              <p> <%= couleur %> </p>
              <p> <%= taille %> </p>
              <p> <%= genre %> </p>
              <p> <%= date %> </p>
              <p> <%= etat %> </p>
              <p> <%= user %> </p>
              <p> <%= localisation %> </p><br> 
              <a href="/"><button class = "button"> Ajouter au panier</button></a>
        </div>
      </div>

    </div>
    </div>
  </main>
  <footer>
    <%- include('../partials/footer'); %>
  </footer>

</body>
</html>
