<!doctype html>
<html lang="fr">
<head>
  <%- include('../partials/head'); %>
  <link rel="stylesheet" href="/static/CSS/clothesAll.css">
  <title>Acheter vos habits</title>
</head>
<body>
  <header>         
    <%- include('../partials/header'); %>
  </header>
  <main>
    <div class="sidebar bar-block " style="display:none" id="mySidebar">
        <button onclick="w_close()" class="bar-item large" id="close_sidebar">Fermé &times;</button>
        <form id="filter-form"  method="post" action="/vetements">
          <label for="couleur">Couleur:</label>
          <select id="colorFilter" name="couleur">
            <option value=""></option>
            <option value='Rouge'>Rouge</option>
            <option value='Bleu'>Bleu</option>
            <option value='Vert'>Vert</option>
            <option value='Jaune'>Jaune</option>
            <option value='Orange'>Orange</option>
            <option value='Rose'>Rose</option>
            <option value='Blanc'>Blanc</option>
            <option value='Noir'>Noir</option>
            <option value='Gris'>Gris</option>
            <option value='Marron'>Marron</option>
            <option value='Violet'>Violet</option>
            <option value='Beige'>Beige</option>
            <option value='Autre'>Autre</option>
          </select>
          <label for="taille">Taille:</label>
          <select id="sizeFilter" name="taille">
            <option value=""></option>
            <option value='XXL'>XXL</option>
            <option value='XL'>XL</option>
            <option value='L'>L</option>
            <option value='M'>M</option>
            <option value='S'>S</option>
            <option value='XS'>XS</option>
            <option value='XXS'>XXS</option>
          </select>
          <label for="genre">Genre:</label>
          <select id="genreFilter" name="genre">
            <option value=""></option>
            <option value='Homme'>Homme</option>
            <option value='Femme'>Femme</option> 
            <option value='Enfant'>Enfant</option>
            <option value="Unisex"> Unisex</option> 
          </select>
          <label for="type">Type:</label>
          <select id="typeFilter" name="type">
            <option value=""></option>
            <option value="Pantalon">Pantalon</option>
            <option value="T-Shirt">T-shirt</option>
            <option value="Pull">Pull</option>
            <option value="Veste">Veste</option>
            <option value="Sweat">Sweat</option>
            <option value="Robe">Robe</option>
            <option value="Jupe">Jupe</option>
            <option value="Chemise">Chemise</option>
            <option value="Short">Short</option>
            <option value="Underwear">Underwear</option>
            <option value="Autre">Autre</option>
          </select>
          <label for="etat">Etat:</label>
          <select id=" etatFilter" name="etat">
            <option value=""></option>
            <option value='Neuf'>Neuf</option>
            <option value='Très bon état'>Très bon état</option> 
            <option value='Bon état'>Bon état</option>
            <option value="Occasion"> Occasion</option>
          </select>
          <input type="submit" value="Valider">
        </form>
    </div>  
    <div class="teal">
      <button class="button-filtre teal xlarge" onclick="w_open()">☰ FILTRES</button>
    </div>
    <div class="container" id="filtre-results">
      <% for( let i = 0; i < clothes.length;i++){let article = clothes[i]; %>
      <div class="grid-object">
        <img src="<%= article.image %>" alt="photo">
        <h2><%= article.type %></h2>
        <h3><%= article.user %></h3>
        <p><%= article.prix %></p>
        <a href="../info?image=<%=article.image%>&type=<%=article.type%>&marque=<%=article.marque%>&prix=<%=article.prix%>&couleur=<%=article.couleur%>&taille=<%=article.taille%>&genre=<%=article.genre%>&date=<%=article.createdAt.toDateString()%>&etat=<%=article.etat%>&user=<%=article.user%>&localisation=<%=article.localisation%>">Voir l'article</a>
        
      </div>
      <% } %>
    </div>
  </main>
  <footer>
    <%- include('../partials/footer'); %>
  </footer>
  
  <script>
    function w_open() {
      document.getElementById("mySidebar").style.display = "block";
    }
  
    function w_close() {
      document.getElementById("mySidebar").style.display = "none";
    }
  </script>


</body>
</html>

