<!doctype html>
<html lang="fr">
<head>
  <%- include('../partials/head'); %>

  <title>Page principale</title>
  

  <title>Se connecter</title>
  <link rel="stylesheet" type="text/css" href="/static/CSS/accountForm.css" />

</head>
<body>
  <header>         
    <%- include('../partials/header'); %>
  </header>
  <main>



    <div class="container">
        <div class="form"></div>
            <div class="form login">
                <span class="title">Connexion</span>

                <form action="/login" method="post">
                    <div class="input-field">
                        <input type="text" placeholder="E-mail ou nom d'utilisateur" required name="username" >
                        <i class="uil uil-envelope"></i>
                        <p id="error_message"> <%= error_message_email%></p>
                    </div>
                    <div class="input-field">
                        <input type="password" placeholder="Mot de passe" required name="password">
                        <i class="uil uil-envelope"></i>
                        <p id="error_message"> <%= error_message_password%></p>
                    </div>
                    <div class="input-field button">
                       <!--<input type="button" value="Se connecter">--> 
                        <a class="cta" href="#"><button>Se connecter</button></a>
                    </div>
                </form>

                <div class="login-signup">
                    <span class="text">Pas encore membre ?
                        <a href="register" class="text signup-text">Créer un compte </a>
                    </span>
                </div>
            </div>
        </div>
  </main>
  <footer>
    <%- include('../partials/footer'); %>
  </footer>

</body>
</html>