<!doctype html>
<html lang="fr">
<link rel="stylesheet" type="text/css" href="/static/CSS/mainPage.css" />
<link rel="stylesheet" type="text/css" href="/static/CSS/nav.css" />
<head>
  <%- include('../partials/head'); %>
  <title>Page principale</title>
  
</head>
<body>
  <header>         
    <%- include('../partials/header'); %>
  </header>
  <main>
    <h2>Les dernières sorties</h2>
    <div class="aligner">
    <div class="containerArticles">
      <div class="aligner">
        
       <%  for( let i = 0; i < clothes.length;i++){ %>
       <%      let article = clothes[i]; %>
       
          <div class="miniContainer">
          
          
          <img class="imageArticle" src=<%=article.image%>><br>
        
          <div class="aligner">
          
            <div class = "containerDescription">
           <p><%= article.user %><br>
            <%= article.prix %><br></p>
          </div>
          <a  href ="info?image=<%=article.image%>&type=<%=article.type%>&marque=<%=article.marque%>&prix=<%=article.prix%>&couleur=<%=article.couleur%>&taille=<%=article.taille%>&genre=<%=article.genre%>&date=<%=article.createdAt.toDateString()%>&etat=<%=article.etat%>&user=<%=article.user%>&localisation=<%=article.localisation%>" class ="button">Voir l'article</a>
        </div>
          </div>
       <% } %>
      
      
    </div>
      </div>
      <a href="vetements"><div class="arrow-right"></div></a>
    </div>
      
      </div>
    
    </div>
    <h2>Les dernières ventes</h2>
    <div class="aligner">
    <div class="containerArticles">
      <%  for( let i = 0; i < sells.length;i++){ %>
        <%      let article = sells[i]; %>
        
           <div class="miniContainer">
           
           
           <img class="imageArticle" src=<%=article.image%>><br>
         
           <div class="aligner">
           
             <div class = "containerDescription">
            <p><%= article.user %><br>
             <%= article.prix %><br></p>  
           </div>
           <a  href ="info?image=<%=article.image%>&type=<%=article.type%>&marque=<%=article.marque%>&prix=<%=article.prix%>&couleur=<%=article.couleur%>&taille=<%=article.taille%>&genre=<%=article.genre%>&date=<%=article.createdAt.toDateString()%>&etat=<%=article.etat%>&user=<%=article.user%>&localisation=<%=article.localisation%>" class ="button">Voir l'article</a>
         </div>
           </div>
        <% } %>


    </div>
    <a href="vetements"><div class="arrow-right"></div></a>
    </div>
  </main>
  <footer>
    <%- include('../partials/footer'); %>
  </footer>

</body>
</html>
