<!doctype html>
<html lang="fr">
<link rel="stylesheet" type="text/css" href="/static/CSS/mainPage.css" />
<link rel="stylesheet" type="text/css" href="/static/CSS/nav.css" />
<head>
  <%- include('../partials/head'); %>
  <title>Page principale</title>
  
</head>
<body>
  <header>         
    <%- include('../partials/header'); %>
  </header>
  <main>
    <div class="container">
      <div class="containerBox">
        <div class="containerBoxNav">
          <h2>Les dernières sorties</h2>
          <a href="/vetements"><img src="/static/IMAGES/fleche-droite.png" alt="logo"></a>
        </div>
        <div class="containerBoxClothes">
          <% for( let i = 0; i < clothes.length;i++){let article = clothes[i]; %>
            <div class="grid-object">
              <img src="<%= article.image %>" alt="photo">
              <h3><%= article.user %></h3>
              <p><%= article.prix %></p>
              <a href="../info?image=<%=article.image%>&type=<%=article.type%>&marque=<%=article.marque%>&prix=<%=article.prix%>&couleur=<%=article.couleur%>&taille=<%=article.taille%>&genre=<%=article.genre%>&date=<%=article.createdAt.toDateString()%>&etat=<%=article.etat%>&user=<%=article.user%>&localisation=<%=article.localisation%>">Voir l'article</a>
            </div>
          <% } %>
        </div>
      </div>
    </div>
    <div class="containerBox">
      <div class="containerBoxNav">
        <h2>Les dernières ventes</h2>
        <a href="/vetements"><img src="/static/IMAGES/fleche-droite.png" alt="logo"></a>
      </div>
      <div class="containerBoxClothes">
        <% for( let i = 0; i < sells.length;i++){let article = sells[i]; %>
          <div class="grid-object">
            <img src="<%= article.image %>" alt="photo">
            <h3><%= article.user %></h3>
            <p><%= article.prix %></p>
            <a href="../info?image=<%=article.image%>&type=<%=article.type%>&marque=<%=article.marque%>&prix=<%=article.prix%>&couleur=<%=article.couleur%>&taille=<%=article.taille%>&genre=<%=article.genre%>&date=<%=article.createdAt.toDateString()%>&etat=<%=article.etat%>&user=<%=article.user%>&localisation=<%=article.localisation%>">Voir l'article</a>
          </div>
        <% } %>
      </div>
    </div>
  </main>
  <footer>
    <%- include('../partials/footer'); %>
  </footer>

</body>
</html>
