<!doctype html>
<html lang="fr">
  <link rel="stylesheet" type="text/css" href="/static/CSS/vente-css.css" />
  <link rel="stylesheet" type="text/css" href="/static/CSS/accountForm.css" />
  <link rel="stylesheet" type="text/css" href="/static/CSS/modifArticle-css.css" />
<head>
  <%- include('../partials/head'); %>
  <title>Vendre un vetement</title>
</head>
<body>
  <header>         
    <%- include('../partials/header'); %>
  </header>
  <main>
  <div class="Modif">
    <form action="/modifArticle" method="post" enctype="multipart/form-data">
        <div class=container>
            <h3>Photo de l'article:</h3>
            <input type="file" id="myfile" name="image" >
            <h3>Type d'article:</h3>
            
            <select name="Type" style="width: 200px">
                <option value='No change'>No change</option>
                <option value="Pantalon">Pantalon</option>
                <option value="T-shirt">T-shirt</option>
                <option value="Pull">Pull</option>
                <option value="Veste">Veste</option>
                <option value="Sweat">Sweat</option>
                <option value="Robe">Robe</option>
                <option value="Jupe">Jupe</option>
                <option value="Chemise">Chemise</option>
                <option value="Autre">Autre</option>
                <option value="Short">Short</option>
                <option value="Underwear">Underwear</option>
            </select>
            <p>Actuel: <%= type %> </p>
            
            <h3>Marque:</h3>
            <textarea name="Marque" rows="1" cols="30" placeholder="actuel: <%= marque %>"></textarea>
            <h3>Prix:</h3>
            <textarea name="Prix" rows="1" cols="30" placeholder="actuel: <%= prix %>"></textarea>
            <h3>Couleur:</h3>
            <select name="Couleur" rows="1" cols="30" required placeholder="Couleur de l'article" >
              <option value='No change'>No change</option>
              <option value='Rouge'>Rouge</option>
              <option value='Bleu'>Bleu</option>
              <option value='Vert'>Vert</option>
              <option value='Jaune'>Jaune</option>
              <option value='Orange'>Orange</option>
              <option value='Rose'>Rose</option>
              <option value='Blanc'>Blanc</option>
              <option value='Noir'>Noir</option>
              <option value='Gris'>Gris</option>
              <option value='Marron'>Marron</option>
              <option value='Violet'>Violet</option>
              <option value='Beige'>Beige</option>
              <option value='Autre'>Autre</option>
            </select>
            <p>Actuel: <%= couleur %></p>
            <h3>Taille:</h3>
            <select name="Taille" rows="1" cols="30" placeholder="la taille de l'article" >
            <option value='No change'>No change</option>  
            <option value='none'>none</option>
            <option value='XXL'>XXL</option>
            <option value='XL'>XL</option>
            <option value='L'>L</option>
            <option value='M'>M</option>
            <option value='S'>S</option>
            <option value='XS'>XS</option>
            <option value='XXS'>XXS</option>
            </select>
            <p>Actuel: <%= taille %> </p>

            <h3>Genre:</h3>
            <select name="Genre" style="width: 150px">
                <option value='No change'>No change</option>
                <option value='Homme'>Homme</option>
                <option value='Femme'>Femme</option>  
                <option value='Enfant'>Enfant</option>
                <option value="Unisex"> Unisex</option> 
            </select>
            <p>Actuel: <%= genre %> </p>
            <h3>Etat de l'article:</h3>
            <select name="Etat" style="width: 150px">
              <option value='No change'>No change</option>
              <option value='Neuf'>Neuf</option>
              <option value='Très bon état'>Très bon état</option> 
              <option value='Bon état'>Bon état</option>
              <option value="Occasion"> Occasion</option>
            </select>
            <p>Actuel: <%= etat%></p>
            <div class="alignement">
                <div class="containerAvertissement">
                    <nav> 
                        <a href="#"><button>Modifier</button></a>
                    </nav>
                </div>
                <div class="containerAvertissement">
                    <nav> 
                        <p>ne remplissez que les champs que vous souhaitez modifier</p>
                    </nav>
                </div>
            </div>
        </div>
    </form>
  </div>
  </main>
  <footer>
    <%- include('../partials/footer'); %>
  </footer>

</body>
</html>