<!doctype html>
<html lang="fr">
<head>
  <%- include('../partials/head'); %>
  <title>panier</title>
</head>
<body>
  <header>         
    <%- include('../partials/header'); %>
    <link rel="stylesheet" type="text/css" href="static/CSS/panier.css" />
  </header>
  <main>
    <form action="/panier" method="post">
    <div class = "container">
    <div class="container-left "> 
      <%  for( let i = 0; i < clothes.length;i++){ %>
        <%      let article = clothes[i];            %>
      <div class = "box" data-article-id="<%= i %>">
        <img class = "photo" src="<%= article.Image %>" alt="photo">
        <div class = "description">
          <p> Marque: <%= article.Marque %></p>
          <p>Couleur: <%= article.Couleur %></p>
          <p>Prix: <%= article.Prix %></p>
          <p>Etat: <%= article.Etat %></p>
          <p>Vendeur: <%= article.User%></p>                 
        </div>
      </div>
      <% } %>
        

        


    </div>
    <div class="container-right">
      <div class="box-right">
        <h2> Récapitulatif de la commande </h2>
        <p> Sous-total (<%= nombreArticles %> article(s) ) : <%= totalPanier %> </p>
        <p> Frais de port : 0 </p>
        <p> Total : <%= totalPanier %> </p>
        <% if(nombreArticles > 0 && creditsForm >= totalPanier) {%>
        <button id="buttonPanier" class="button"> Valider la commande </button>
        <%}%> 
        <% if(creditsForm < totalPanier) {%>
          <div id="textContainerRouge"> Vous n'avez pas assez de crédits pour ce panier!<br>
                                        Vous pouvez en rajouter sur votre profil
          </div>
          <%}%>  
        <div id="textContainerVert"></div>
      </div>
      </div>
      </div>
    </form>
    <script > 
      document.getElementById('buttonPanier').addEventListener('click', function() {
      document.getElementById('textContainerVert').innerHTML = "Merci pour votre commande!<br>Redirection automatique vers la page principale dans quelques secondes"})

    </script>
      </main>
  <footer>
    <%- include('../partials/footer'); %>
  </footer>
  
  
  
  
  
  
</body>
</html>
