<!doctype html>
<link rel="stylesheet" type="text/css" href="/static/CSS/profil-css.css" />
<link rel="stylesheet" type="text/css" href="/static/CSS/mainPage.css" />
<html lang="fr">
<head>
  <%- include('../partials/head'); %>
  <title>Votre compte</title>
</head>
<body>
  <header>         
    <%- include('../partials/header'); %>
  </header>
  <main>
    <div class="alignement">
      <div class="containerInfo">
        <div class="alignement">
          <img class="photo_profil" src="/static/IMAGES/image femme.jpeg" alt="photo de profil"\>
          <div class="info">
            <div class="data">
              <h3>Nom d'utilisateur:</h3>
            </div>
            <div class="data">
              <h3>Nom complet:</h3>
            </div>
            <div class="data">
              <h3>Email:</h3>
            </div>
            <div class="data">
              <h3>Crédits:</h3>
            </div>
          </div>
          <div class="info2">
            <div class="data">
              <div class="width_data">
                <h3><%= username%></h3>
              </div>
            </div>
            <div class="data">
              <div class="width_data">
                <h3><%= completeName%></h3>
              </div>
            </div>
            <div class="data">
              <div class="width_data">
                <h3><%= email%></h3>
              </div>
            </div>
            <div class="data">
              <div class="width_data">
                <h3><%= creditsProfil%></h3>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="containerModif">
        <div class="info">
          <button>Modifier le profil</button> 
        </div>
      </div>
    </div>
    
    <div class="containerMesVentes">
      <div class="alignement">
        <%  for( let i = 0; i < listClothesByMe.length;i++){ %>
          <%      let article = listClothesByMe[i]; %>
          
             <div class="miniContainer">
             
             
             <img class="imageArticle" src=<%= article.image %>><br>
           
             <div class="alignement">
             
               <div class = "containerDescription">
              <p> posté par: <%= article.user %><br>
               prix: <%= article.prix %><br></p>
             </div>
             <button class="button">Voir l'article</button>
           </div>
             </div>
          <% } %>
      </div>
    </div>

  </main>
  <footer>
    <%- include('../partials/footer'); %>
  </footer>

</body>
</html>
